<!DOCTYPE html>
  <html>
    <head>
      <title>
        {% block title %} {% endblock %}
      </title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <style type="text/css">
    

      </style>
      {% block custom_css %} {% endblock %}

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>


    <body id="main_body">
    <nav>
    <div class="nav-wrapper container">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <a href="#!" class="brand-logo " style="" ><i class="material-icons">donut_large</i>CEV Svnit</a>

      <ul class="right hide-on-med-and-down">
         {% if user.is_authenticated %}
                  <li><a href="#" class="waves-effect">Welcome admin</a></li>
                  <li><a href="{% url 'logout'%}" class="waves-effect">Logout</a></li>
                  <li><a href="{% url 'Sendmail'%}" class="waves-effect">Sendmail</a></li>
                  <li><a href="{% url 'FillData'%}" class="waves-effect">Add Student</a></li>
              {% else %}
                  <li><a href="#" class="waves-effect">Welcome</a></li>
                  <li><a href="{%url 'login'%}" class="waves-effect">Login</a></li>
              {% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {% if user.is_authenticated %}
                  <li><a href="#" class="waves-effect">Welcome admin</a></li>
                  <li><a href="{% url 'logout'%}" class="waves-effect">Logout</a></li>
                  <li><a href="{% url 'Sendmail'%}" class="waves-effect">Sendmail</a></li>
                  <li><a href="{% url 'FillData'%}" class="waves-effect">Add students</a></li>
              {% else %}
                  <li><a href="#" class="waves-effect">Welcome</a></li>
                  <li><a href="{%url 'login'%}" class="waves-effect">Login</a></li>
              {% endif %}
      </ul>
    </div>
  </nav>
      <!-- <div class="navbar-fixed">
        <nav class="z-depth-3">
          <div class="nav-wrapper container">
            <a href="/" class="waves-effect brand-logo white-text"> Cutting Edge Visinories </a>       
            <ul id="nav" class="right hide-on-med-and-down">
              {% if user.is_authenticated %}
                  <li><a href="#" class="waves-effect white-text">Welcome {{ user.username }}</a></li>
                  <li><a href="{% url 'logout'%}" class="waves-effect white-text">Logout</a></li>
              {% else %}
                  <li><a href="#" class="waves-effect white-text">Welcome</a></li>
                  <li><a href="{%url 'login'%}" class="waves-effect white-text">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
      
      <ul id="mobile-demo" class="side-nav">
        {% if user.is_authenticated %}
            <li><a href="#" class="waves-effect white-text">Home</a></li>
            <li><a href="{%url 'logout'%}" class="waves-effect white-text">Logout</a></li>
        {% else %}
            <li><a href="#" class="waves-effect white-text">Welcome {{user.username}}</a></li>
            <li><a href="{%url 'login'%}" class="waves-effect white-text">Login</a></li>
        {% endif %}
      </ul> -->
            
        
      {% block body_block %}{% endblock %}

       <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Cev Official</h5>
                <p class="grey-text text-lighten-4">This site is build to provide Event Notification in SVNIT regarding upcoming events of CEV</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  {% if user.is_authenticated %}
                    <li><a class="grey-text text-lighten-3" href="{%url 'Sendmail'%}">SendEmail</a></li>
                    <li><a class="grey-text text-lighten-3" href="{%url 'FillData'%}">Add Students</a></li>
                    <li><a class="grey-text text-lighten-3" href="{%url 'FillDataExcel'%}">Add Students using Excel sheet</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://cevgroup.org">CEV SITE</a></li>
           
                 {% else %}
                    <li><a class="grey-text text-lighten-3" href="https://cevgroup.org">CEV SITE</a></li>
                    <li><a href="#" class="waves-effect white-text">Need Login to access</a></li>
                 {% endif %}
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright CEV
            <a class="grey-text text-lighten-4 right" href="#!">About</a>
            </div>
          </div>
        </footer>




      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
    });
  $( document ).ready(function(){
        $(".button-collapse").sideNav();
  })
</script>

      {% block custom_js %} {% endblock %}
    </body>
  </html>